.members-tree--wrap {
  position: sticky;
  top: 2em;
  margin-bottom: 2em;
  overflow: auto; }
  @media (max-width: 992px) {
    .members-tree--wrap {
      position: static; } }

.members-tree-list {
  margin-top: 2em;
  padding: 0; }
  .members-tree-list > li {
    list-style-type: none; }
    .members-tree-list > li > a {
      display: block;
      color: #ae4a51;
      font-weight: bolder;
      margin: 1.5em 0 .25em 0;
      padding-left: 0em;
      max-width: 80%; }
      @media (max-width: 992px) {
        .members-tree-list > li > a {
          max-width: 100%; } }
    .members-tree-list > li:first-child > a {
      margin-top: 0; }

legend {
  font-size: 1.3em;
  font-weight: bold;
  font-style: italic;
  padding: 3px 1em;
  color: darkgray;
  margin-bottom: 1em; }

#group-leader {
  margin-top: 0; }

.member-wrap {
  position: relative;
  background: white;
  border-radius: 3px;
  border: solid #ddd 1px;
  box-shadow: 0 0 10px #ddd;
  color: black;
  padding: 0;
  transition: 0.3s;
  margin: 1.5em 0.75em; }
  .member-wrap:hover, .member-wrap:visited, .member-wrap:active {
    transform: scale(1.02);
    box-shadow: 0 0 5px steelblue;
    border-color: transparent; }
  .member-wrap .shortcuts {
    position: absolute;
    right: 0;
    top: 0; }
    .member-wrap .shortcuts a.shortcuts--link {
      background: #472A5D;
      border-radius: 2em;
      margin: 0.75em;
      box-shadow: 0 0 5px gray;
      transition: 0.3s;
      opacity: 0.3; }
      .member-wrap .shortcuts a.shortcuts--link:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px steelblue;
        opacity: 1; }
      .member-wrap .shortcuts a.shortcuts--link span {
        color: white; }
  .member-wrap a {
    padding: 1em;
    margin: 0;
    display: block; }
    .member-wrap a:hover, .member-wrap a:visited, .member-wrap a:active {
      text-decoration: none;
      color: black;
      cursor: pointer; }
  .member-wrap .thumbnail img {
    height: 150px; }
  .member-wrap h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.85); }
  .member-wrap .excerpt {
    height: 120px;
    max-height: 120px;
    overflow: hidden;
    color: gray;
    position: relative;
    text-align: justify;
    font-size: 0.9em; }
  .member-wrap .ellipsis {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    margin: 0;
    color: steelblue;
    font-size: 20px;
    padding-top: 2em;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+75 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 65%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 65%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 65%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */ }
  .member-wrap .label.group-leader {
    background: #ff681e; }
  .member-wrap .label.post-doc {
    background: #3abbba; }
  .member-wrap .label.phd-student {
    background: #1b2944; }
  .member-wrap .label.technician {
    background: #5a2a82; }
