section {
  margin-bottom: 24px; }
  section h3 {
    margin: 0;
    padding: 12px;
    color: white;
    background: #1b2944;
    text-align: center;
    font-weight: bold; }
  section .glyphicon-chevron-right {
    font-size: small;
    vertical-align: middle;
    visibility: hidden; }
  section:hover .glyphicon-chevron-right {
    visibility: visible; }
  section p {
    padding: 12px; }
  section.members--wrap {
    padding: 0; }
    section.members--wrap h3 {
      margin: 0; }
  section a.section-link {
    display: block; }
    section a.section-link:hover {
      text-decoration: none; }
  section.welcome p {
    font-size: 1.1em; }

.scale-on-hover {
  transition: .2s; }
  .scale-on-hover:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px #3abbba; }
